		<ul class="menu">

			<li class="menu__item">

				<a href="#about" class="menu__link">
					About
				</a>

			</li>

			<li class="menu__item">

				<a href="#roadmap" class="menu__link">
					Roadmap
				</a>

			</li>

			<li class="menu__item">

				<a href="#token" class="menu__link">
					Token
				</a>

			</li>

			<li class="menu__item">

				<a href="#team" class="menu__link">
					Team
				</a>

			</li>

			<li class="menu__item">

				<a href="#cases" class="menu__link">
					Baked by
				</a>

			</li>

		</ul>