	<div class="modal" id="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--video">

				<div id="modal-video"></div>

			</div>

			<aside class="modal__item modal__item--thank">

				<h3 class="h2">
					Thank you!
				</h3>

				<p>
					Your subscription has been successfully completed.
				</p>

				<button type="button" class="modal__close modal__close-btn button" aria-label="Close">
					<svg width="22" height="22" viewBox="0 0 22 22">
						<path stroke="#4F208A" stroke-width="2" d="M21 21L1 1M1 21L21 1"/>
					</svg>
				</button>

			</aside>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Close">
				<svg width="30" height="30" viewBox="0 0 30 30">
					<path stroke="#848484" stroke-width="2" d="M28.58 28.58L1 1M1 28.58L28.58 1"/>
				</svg>
			</button>

		</div>

	</div>