
	<article class="roadmap" id="roadmap">

		<div class="center">

			<h2 class="hash">
				Roadmap
			</h2>

			<p class="h1 fade-in">
				Stages of the project
			</p>

{% set table = [

	{
		year    : "2021",
		quarter : "q1",
		list    : [
			"Project <br>Project started",
			"Concept <br>Concept clarified",
			"Fintropy Functionality Defined",
			"Team assembled"
		]
	},
	{
		year    : "2021",
		quarter : "q2",
		list    : [
			"Architecture <br>& UI Design",
			"Legal and structure for token sale",
			"Polygon network selected",
			"MVP Development"
		]
	},
	{
		year    : "2021",
		quarter : "q3",
		list    : [
			"MVP release on Polygon",
			"MVP Public Security Audit",
			"New features development",
			"Law opinion"
		]
	},
	{
		year    : "2021",
		quarter : "q4",
		list    : [
			"New features development",
			"Public Token sale",
			"Sushi swap listing",
			"App Development"
		]
	},
	{
		year    : "2022",
		quarter : "q1",
		list    : [
			"Flexible portfolio structure and rebalancing release",
			"Mobile App Development & Deployment",
			"DAO Governance",
			"Cross-chain bridge"
		]
	},
	{
		year    : "2022",
		quarter : "q2",
		list    : [
			"Gamification",
			"AI Algo-Trading",
			"Multi Node Fintropy protocol",
			"Top crypto exchanges listing"
		]
	}

] %}

			<div class="roadmap__table">

{% for row in table %}

				<div class="roadmap__row roadmap__row--{{ row.quarter }}-{{ row.year }}">

					<div class="roadmap__thead fade-in fade-in--left">

						<div class="roadmap__year">
							{{ row.year }}
						</div>

						<div class="roadmap__quarter">
							{{ row.quarter | capitalize }}
						</div>

					</div>

					<div class="roadmap__tbody fade-in fade-in--000">

	{% for item in row.list %}

						<div class="roadmap__td">

							<span>
								{{ item | safe }}
							</span>

						</div>

	{% endfor %}

					</div>

				</div>

{% endfor %}

			</div>

		</div>

	</article>