
	<article class="roadmap" id="roadmap">

		<div class="center">

			<h2 class="hash">
				Roadmap
			</h2>

			<p class="h1 fade-in">
				Stages of the project
			</p>

{% set table = [

	{
		year    : "2021",
		quarter : "q1",
		list    : [
			"Project <br>Started",
			"Concept <br>Clarified",
			"Team Assembled",
			"Legal and <br>Structure for <br>Token Sale"
		]
	},
	{
		year    : "2021",
		quarter : "q2",
		list    : [
			"Architecture <br>& UI Design",
			"MVP Release <br>based on Polygon",
			"Public <br>Security <br>Audit",
			"Mobile App<br> Development"
		]
	},
	{
		year    : "2021",
		quarter : "q3",
		list    : [
			"Token <br>Sale",
			"Featured Asset Managers",
			"Uniswap <br>Listing",
			"Mobile App<br> Deployment"
		]
	},
	{
		year    : "2021",
		quarter : "q4",
		list    : [
			"Full-scale DAO Governance",
			"Polkadot Parathread Integration",
			"Top Crypto Exchanges Listing",
			"Full-scale <br>DeFi Tools"
		]
	},
	{
		year    : "2022",
		quarter : "q1",
		list    : [
			"Tokenized Stocks Integration",
			"Gamification Features",
			"Cross-Chain Bridge",
			"AI Powered <br>Trading"
		]
	}

] %}

			<div class="roadmap__table">

{% for row in table %}

				<div class="roadmap__row roadmap__row--{{ row.quarter }}-{{ row.year }}">

					<div class="roadmap__thead fade-in fade-in--left">

						<div class="roadmap__year">
							{{ row.year }}
						</div>

						<div class="roadmap__quarter">
							{{ row.quarter | capitalize }}
						</div>

					</div>

					<div class="roadmap__tbody fade-in fade-in--000">

	{% for item in row.list %}

						<div class="roadmap__td">

							<span>
								{{ item | safe }}
							</span>

						</div>

	{% endfor %}

					</div>

				</div>

{% endfor %}

			</div>

		</div>

	</article>