.first-screen {

	padding: 220px 0 42px;
	position: relative;
	overflow: hidden;

	@media ($mdWidth) {

		padding: 161px 0 96px;

	}

	@media ($smWidth) {

		padding: 86px 0 20px;

	}

	.center::before {

		position: absolute;
		top: -32px;
		left: -524px;
		content: '';
		width: 446px;
		height: 446px;
		border-radius: 50%;
		border: 2px solid var(--secondary);

	}

	&__title {

		font-size: 80px;
		font-weight: 700;
		line-height: 64px;
		max-width: 640px;
		margin-bottom: 44px;

		@media ($mdWidth) {

			font-size: 50px;
			line-height: 56px;
			margin-bottom: 26px;

		}

		@media ($smWidth) {

			font-size: 24px;
			line-height: 28px;
			margin-bottom: 15px;

		}

	}

	&__desc {

		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		margin-bottom: 72px;

		@media ($mdWidth) {

			margin-bottom: 54px;

		}

		@media ($smWidth) {

			font-size: 16px;
			line-height: 20px;
			margin-bottom: 41px;

		}

	}

	&__btns {

		display: flex;
		margin-bottom: 154px;

		@media ($mdWidth) {

			margin-bottom: 93px;

		}

		@media ($smWidth) {

			margin-bottom: 45px;
			display: block;

			.btn {

				margin: 20px 0;

			}

		}

		.btn {

			margin-right: 18px;

			@media ($mdWidth) {

				margin-right: 26px;

			}

		}

	}

	&__scroll {

		margin-left: -2px;

		@media ($mdWidth) {

			display: none;

		}

		svg {

			fill: var(--secondary);

		}

	}

	&__img {

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;

		}

		@media ($desktop) {

			position: absolute;
			top: 0;
			left: 50%;
			margin-left: 176px;
			right: 0;
			bottom: 0;
		}

		@media ($mdWidth) {

			position: relative;
			height: 352px;

		}

		@media ($smWidth) {

			height: 148px;

		}

	}

}