.footer {

	background-color: #3b156a;

	.center {

		display: flex;
		align-items: center;
		width: 1440px;
		padding: 58px 64px;

		@media ($smWidth) {

			flex-direction: column-reverse;

		}

	}

	&__logo {

		flex-shrink: 0;
		width: 170px;

	}

	&__menu {

		flex-grow: 1;

	}

	&__copyright {

		flex-shrink: 0;
		letter-spacing: -0.03em;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.3);

	}

}