.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;
	display: block;
	text-decoration: none;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 0 45px;
	height: 68px;
	font-size: 22px;
	line-height: 68px;
	font-weight: 700;
	border-radius: 34px;

	@media ($desktop) {

		&:hover {


		}

	}

	&--grad {

		color: #fff;
		box-shadow: 0px 10px 22px rgba(43, 230, 255, 0.14);

		@media ($desktop) {

			&:hover span::before {

				transform: translateX(-40%);

			}

		}

		span {

			display: block;
			padding-left: 32px;
			position: relative;
			overflow: hidden;
			border-radius: 34px;
			z-index: 1;

			&::before {

				position: absolute;
				width: 200%;
				height: 100%;
				top: 0;
				left: 0;
				transform: translateX(-50%);
				content: '';
				z-index: -1;
				transition: transform var(--transitionDefault);
				background-image: linear-gradient(53deg, #9E42C9 55%, var(--accentPrimary) 106%);

			}

		}

	}

	&--demo {

		width: 270px;
		padding: 0;

		img {

			position: absolute;
			width: 54px;
			height: 67px;
			top: -14px;
			left: 38px;
			z-index: 2;

		}

	}

	&--violet {

		color: rgba(255, 255, 255, .8);
		background-color: rgba(157, 96, 255, 0.5);

		@media ($desktop) {

			&:hover {

				color: #fff;
				background-color: var(--secondary);

			}

		}

	}

	&--white {

		color: var(--accentSecondary);
		background-color: #fff;

		@media ($desktop) {

			&:hover {

				color: var(--secondary);

			}

		}

	}

}


.input {

	height: 90px;
	line-height: 56px;
	padding: 16px 24px;
	font-size: 22px;
	color: var(--secondary);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	background-color: transparent;
	border: 0;
	border-radius: 0;
	transition: var(--transitionDefault);
	border-bottom: 2px solid var(--secondary);

	&::placeholder {

		opacity: .5;

	}

	&::-ms-clear {

		display: none;

	}

	&:hover {

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

	&:invalid {

		box-shadow: none;

	}

}