.header {

	padding: 41px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	.center {

		display: flex;
		align-items: center;
		width: 1440px;
		padding: 0 var(--indent);

		@media ($mdWidth) {

		}

	}

	&__logo {

		width: 240px;

	}

	&__menu {



	}

}

.btn-thema-toggle {

	width: 30px;
	height: 30px;
	display: none;

}