.join-demo {

	margin: 80px 0 56px;
	padding: 85px 0;
	background-color: var(--accentSecondary);

	&__box {

		display: flex;
		flex-direction: row-reverse;

	}

	&__content {

		width: 500px;
		flex-shrink: 0;
		margin-right: 44px;

	}

	&__img {

		position: relative;
		flex-grow: 1;

		img {

			position: absolute;
			left: -38px;
			bottom: -108px;

		}

	}

	&__btn {

		display: flex;
		margin-top: 35px;

		.btn {

			width: 270px;
			padding-right: 68px;

			&::after {

				position: absolute;
				width: 26px;
				height: 26px;
				top: 0;
				right: 54px;
				bottom: 0;
				margin: auto;
				content: '';
				background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Ccircle cx='13' cy='13' r='13' fill='%232BE6FF' opacity='0.16'/%3E%3Ccircle cx='13' cy='13' r='7' fill='none' stroke='%232BE6FF' opacity='0.5'/%3E%3Ccircle cx='13' cy='13' r='4' fill='%232BE6FF'/%3E%3C/svg%3E%0A");

			}

		}

	}

}