.visible-md,
.visible-sm {

	display: none;

}

.center {

	margin: 0 auto;
	width: 1120px;
	max-width: 100%;
	position: relative;

}

@media ($desktop) {


}

@media ($lgWidth) {


}

@media ($mdWidth) {

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 768px;
		padding: 0 var(--indent);

	}

}

@media (max-width: 800px) {

}

@media ($smWidth) {

	:root {

		--indent: 24px;

	}

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		width: 480px;

	}

}

@media (max-width: 500px) {

}

@media ($xsWidth) {

	:root {

		--indent: 16px;

	}

}