.mobile-app {

	margin: 156px 0 0;
	background-color: var(--accentSecondary);

	@media ($mdWidth) {

		margin-top: 143px;

	}

	@media ($smWidth) {

		margin-top: 30px;

	}

	&__box {

		display: flex;

		@media ($smWidth) {

			display: block;

		}

	}

	&__content {

		margin-left: 64px;
		width: 500px;
		flex-shrink: 0;
		padding: 112px 0;

		@media ($mdWidth) {

			padding: 80px 0;
			margin: 0;
			width: 325px;

			.hash {

				margin-bottom: 30px;

			}

		}

		.hash {

			margin-bottom: 36px;
			--secondary: #fff;

		}

		@media ($smWidth) {

			padding: 36px 0;
			width: 100%;

			.hash {

				margin-bottom: 16px;

			}

		}

	}

	&__text {

		font-size: 20px;
		line-height: 24px;
		margin: 18px 0 4px;

		@media ($mdWidth) {

			margin: 14px 0 0;
			max-width: 180px;

		}

		@media ($smWidth) {

			margin: 17px 0 0;
			max-width: 150px;
			font-size: 16px;
			line-height: 22px;

		}

	}

	&__img {

		position: relative;
		flex-grow: 1;
		pointer-events: none;

		@media ($mdWidth) {

			position: absolute;
			top: -128px;
			left: 310px;
			right: -100vw;
			bottom: 0;
			overflow: hidden;

		}

		@media ($smWidth) {

			position: static;
			margin: -66px -16px 0;

		}

		&-phone {

			position: absolute;
			left: 72px;
			bottom: 0;

			@media ($smWidth) {

				position: relative;
				width: 234px;
				height: auto;
				margin: auto;
				left: 42px;

			}

		}

		&-purpur {

			bottom: 14px;
			left: 316px;
			position: absolute;

			@media ($smWidth) {

				width: 96px;
				height: auto;
				left: 50%;
				bottom: 4px;
				margin-left: 70px;

			}

		}

		&-gold {

			bottom: 194px;
			left: 0;
			position: absolute;

			@media ($smWidth) {

				width: 76px;
				height: auto;
				bottom: 98px;
				left: 50%;
				margin-left: -90px;

			}

		}

	}

}