.protection {

	margin: 110px 0 170px;
	text-align: center;
	position: relative;

	@media ($smWidth) {

		margin: 108px 0;

	}

	&__title {

		font-family: Work Sans;
		font-size: 39px;
		font-weight: 600;
		line-height: 45px;

	}

	&__desc {

		font-size: 21px;
		font-weight: 300;
		line-height: 29px;
		margin: 24px auto 36px;
		max-width: 600px;

		@media ($smWidth) {

			font-size: 20px;
			line-height: 26px;

		}

	}

	&__icons {

		display: flex;
		justify-content: center;

	}

	&__box {

		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 12px;
		width: 84px;
		height: 84px;
		border-radius: 20px;
		background-color: rgba(36, 46, 78, 1);

	}

}