.roadmap {

	padding: 146px 0;

	@media ($mdWidth) {

		margin: 70px 0 60px;
		padding: 50px 0;

	}

	@media ($smWidth) {

		padding: 30px 0;
		margin: 45px 0 6px;

	}

	&__table {

		margin: 55px -32px 0 0;
		padding: 32px 0 40px;
		background-image: url("data:image/svg+xml,%3Csvg width='436' height='42' viewBox='0 0 436 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0V900' stroke='%239D60FF' stroke-opacity='0.2' stroke-width='2' stroke-dasharray='16 26'/%3E%3Cpath d='M219 0V900' stroke='%239D60FF' stroke-opacity='0.2' stroke-width='2' stroke-dasharray='16 26'/%3E%3Cpath d='M435 0V900' stroke='%239D60FF' stroke-opacity='0.2' stroke-width='2' stroke-dasharray='16 26'/%3E%3C/svg%3E%0A");
		background-repeat: repeat-y;
		background-position: 373px -7px;

		@media ($mdWidth) {

			margin: 30px -32px;
			padding: 31px 0;
			background-position: 240px 0;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='282' height='786' fill='none' viewBox='0 0 282 786'%3E%3Cpath stroke='%239D60FF' stroke-dasharray='16 26' stroke-opacity='.2' stroke-width='2' d='M1 0v786M141 0v786M281 0v786'/%3E%3C/svg%3E");

		}

		@media ($smWidth) {

			margin: 0;
			padding: 0;
			background: none;

		}

	}

	&__row {

		display: flex;
		margin: 71px 0;

		@media ($mdWidth) {

			margin: 44px 0;

		}

		@media ($smWidth) {

			display: block;
			margin: 16px 0;

		}

		&--q1-2021 {

			margin-top: 0 !important;

		}

		&--q1-2022 {

			margin-bottom: 0 !important;

		}

	}

	&__thead {

		flex-shrink: 0;
		width: 160px;
		position: relative;

		@media ($mdWidth) {

			width: 96px;

		}

		@media ($smWidth) {

			width: auto;
			display: flex;
			align-items: baseline;

			&::after {

				position: relative;
				bottom: 0;
				order: 2;
				margin-left: 12px;

			}

		}

		&::after {

			width: 33px;
			height: 5px;
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='5' viewBox='0 0 33 5'%3E%3Crect width='25' height='5' fill='%232BE6FF' rx='2.5'/%3E%3C/svg%3E");

			@media ($mdWidth) {

				width: 18px;
				height: 4px;
				bottom: 6px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='4' viewBox='0 0 18 4'%3E%3Crect width='14' height='4' fill='%232BE6FF' rx='2'/%3E%3C/svg%3E");

			}

		}

	}

	&__row--q4-2021 &__thead {

		color: var(--accentPrimary);

		&::after {

			width: 66px;

			@media ($mdWidth) {

				width: 36px;

			}

		}

	}

	&__row--q4-2021 &__tbody {

		background-color: var(--accentSecondary);

	}

	&__row--q3-2021 &__thead::after,
	&__row--q2-2021 &__thead::after,
	&__row--q1-2022 &__thead::after {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='5' viewBox='0 0 33 5'%3E%3Crect width='25' height='5' fill='%239D60FF' rx='2.5'/%3E%3C/svg%3E");

		@media ($mdWidth) {

			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='4' viewBox='0 0 18 4'%3E%3Crect width='14' height='4' fill='%239D60FF' rx='2'/%3E%3C/svg%3E");

		}

	}

	&__row--q3-2021 &__thead::after {

		width: 99px;

		@media ($mdWidth) {

			width: 54px;

		}

	}

	&__row--q4-2021 &__thead::after {

		width: 132px;

		@media ($mdWidth) {

			width: 72px;

		}

	}

	&__year {

		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		color: var(--secondary);

		@media ($mdWidth) {

			margin: 4px 0 8px;

		}

		@media ($smWidth) {

			margin: 0;
			order: 3;
			text-align: right;
			flex-grow: 1;

		}

	}

	&__quarter {

		font-weight: bold;
		font-size: 80px;
		line-height: 82px;

		@media ($mdWidth) {

			font-size: 50px;
			line-height: 56px;

		}

		@media ($smWidth) {

			font-size: 26px;
			order: 1;

		}

	}

	&__tbody {

		display: flex;
		background-color: rgba(157, 96, 255, 0.1);
		flex-grow: 1;
		border-radius: 18px;

		@media ($smWidth) {

			flex-wrap: wrap;
			padding: 14px;

		}

	}

	&__td {

		font-size: 20px;
		line-height: 24px;
		flex-grow: 1;
		flex-shrink: 0;
		padding: 18px 18px 18px 55px;
		width: 216px;
		display: flex;
		align-items: center;

		@media ($mdWidth) {

			font-size: 16px;
			line-height: 22px;
			padding: 22px 12px 22px 30px;
			width: 140px;
			min-height: 110px;
			flex-grow: 0;

		}

		@media ($smWidth) {

			width: 50%;
			min-height: 0;
			display: block;
			padding: 14px 10px !important;

		}

		&:nth-child(2) {

			padding-left: 46px;

		}


		&:last-child {

			width: 344px;
			padding-left: 85px;

			@media ($mdWidth) {

				width: auto;
				padding-left: 40px;
				flex-grow: 1;

			}

		}

	}

}