.roadmap {

	padding: 146px 0;

	&__table {

		margin: 55px -32px 0 0;
		padding: 32px 0 40px;
		background-image: url("data:image/svg+xml,%3Csvg width='436' height='42' viewBox='0 0 436 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0V900' stroke='%239D60FF' stroke-opacity='0.2' stroke-width='2' stroke-dasharray='16 26'/%3E%3Cpath d='M219 0V900' stroke='%239D60FF' stroke-opacity='0.2' stroke-width='2' stroke-dasharray='16 26'/%3E%3Cpath d='M435 0V900' stroke='%239D60FF' stroke-opacity='0.2' stroke-width='2' stroke-dasharray='16 26'/%3E%3C/svg%3E%0A");
		background-repeat: repeat-y;
		background-position: 373px -7px;

	}

	&__row {

		display: flex;
		margin: 71px 0;

		&--q1-2021 {

			margin-top: 0;

		}

		&--q1-2022 {

			margin-bottom: 0;

		}

	}

	&__thead {

		flex-shrink: 0;
		width: 160px;
		position: relative;

		&::after {

			width: 33px;
			height: 5px;
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='5' viewBox='0 0 33 5'%3E%3Crect width='25' height='5' fill='%232BE6FF' rx='2.5'/%3E%3C/svg%3E");

		}

	}

	&__row--q2-2021 &__thead {

		color: var(--accentPrimary);

		&::after {

			width: 66px;

		}

	}

	&__row--q2-2021 &__tbody {

		background-color: var(--accentSecondary);

	}

	&__row--q3-2021 &__thead::after,
	&__row--q4-2021 &__thead::after,
	&__row--q1-2022 &__thead::after {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='5' viewBox='0 0 33 5'%3E%3Crect width='25' height='5' fill='%239D60FF' rx='2.5'/%3E%3C/svg%3E");

	}

	&__row--q3-2021 &__thead::after {

		width: 99px;

	}

	&__row--q4-2021 &__thead::after {

		width: 132px;

	}

	&__year {

		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		color: var(--secondary);

	}

	&__quarter {

		font-weight: bold;
		font-size: 80px;
		line-height: 82px;

	}

	&__tbody {

		display: flex;
		background-color: rgba(157, 96, 255, 0.1);
		flex-grow: 1;
		border-radius: 18px;

	}

	&__td {

		font-size: 20px;
		line-height: 24px;
		flex-grow: 1;
		flex-shrink: 0;
		padding: 18px 18px 18px 55px;
		width: 216px;
		display: flex;
		align-items: center;

		&:nth-child(2) {

			padding-left: 46px;

		}


		&:last-child {

			width: 344px;
			padding-left: 85px;

		}

	}

}