.subscribe {

	padding: 162px 0 140px;

	@media ($mdWidth) {

		padding: 120px 0 148px;

	}

	&__box {

		@media ($desktop) {

			display: flex;
			justify-content: space-between;

		}

	}

	&__img {

		@media ($mdWidth) {

			display: none;

		}

	}

	&__form {

		@media ($desktop) {

			width: 672px;
			margin-top: 16px;

		}

	}

	&__fieldset {

		position: relative;
		margin-top: 30px;

		@media ($desktop) {

			margin-top: 45px;
			max-width: 544px;

		}

		.input {

			padding-right: 180px;

		}

		.input:invalid + .btn {

			color: var(--secondary);
			background-color: rgba(157, 96, 255, 0.2);

		}

		.btn {

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 163px;
			height: 56px;
			line-height: 56px;
			font-size: 18px;
			margin: auto;

		}

	}

}