:root {

	--transitionDefault: .3s;

	--primary: #4f208a;
	--secondary: #9d60ff;
	--accentPrimary: #2be6ff;
	--accentSecondary: #3997d0;

	--indent: 64px;
	--header: 50px;

}

$desktop: (min-width: 1250px);
$lgWidth: (max-width: 1335px);
$mdWidth: (max-width: 1249px);
$mWidth: (max-width: 887px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);
