{% set title = "Unlock the Science Behind Investing!" %}

{% set description = "The Tokenized ETF Management Platform: уxperiment with aggregated assets to create a tokenized ETF, or invest in proven portfolio formulas." %}

{% extends "template/base.html" %}

{% block content %}
{% include "main/first-screen.html" %} 
{% include "main/game.html" %}
{% include "main/about.html" %}
{% include "main/try-demo.html" %}
{% include "main/roadmap.html" %}
{% include "main/token.html" %}
{% include "main/join-demo.html" %}
{% include "main/cases.html" %}
{% include "main/mobile-app.html" %}
{% include "main/subscribe.html" %}

{% endblock %}
