{% set title = "A decentralized garden to grow your crypto assets" %}

{% set description = "We're creating a new platform that turns a simple token into all-in-one tokenized portfolio management tool." %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/first-screen.html" %}
{% include "main/about.html" %}
{% include "main/try-demo.html" %}
{% include "main/roadmap.html" %}
{% include "main/token.html" %}
{% include "main/join-demo.html" %}
{% include "main/team.html" %}
{% include "main/protection.html" %}
{% include "main/communication.html" %}

{% endblock %}